In [1]:
import pandas as pd
import numpy as np

In [3]:
df_A = pd.read_csv("C:/mesdocuments/AI4PH/CHA_AI4PH/USA/database/natality22filtered1811_A.csv", low_memory=False)

In [ ]:
df_A.head()

In [ ]:
df_A.info()

In [5]:
df_B = pd.read_csv("C:/mesdocuments/AI4PH/CHA_AI4PH/USA/database/natality22filtered1811_B.csv", low_memory=False)

In [9]:
merged_live_df = pd.merge(df_A, df_B, on="seqnum_live", how="outer")

In [11]:
df_C = pd.read_csv("C:/mesdocuments/AI4PH/CHA_AI4PH/USA/database/natality22filtered1811_C.csv", low_memory=False)

In [13]:
df = pd.merge(merged_live_df, df_C, on="seqnum_live", how="outer")

In [15]:
df.head()

,dob_mm,mrace6,mhisp_r,frace6,fhisp_r,rf_phype,rf_ghype,rf_ehype,dplural,setorder_r,...,gwg,gdm,infection,low_income,africamer,father_race,gestation37,gestation34,stillbirth,priorsb
0,1,1,0,1,0,N,N,N,1,9,...,NaN,0.0,0.0,0.0,0,1.0,2.0,2.0,0,0.0
1,1,1,0,1,0,N,N,N,1,9,...,4.0,0.0,0.0,0.0,0,1.0,2.0,2.0,0,0.0
2,1,1,0,1,0,N,N,N,1,9,...,4.0,0.0,0.0,NaN,0,1.0,2.0,2.0,0,1.0
3,1,1,0,1,0,N,N,N,1,9,...,3.0,0.0,0.0,NaN,0,1.0,2.0,2.0,0,0.0
4,1,1,0,1,0,N,Y,N,1,9,...,2.0,0.0,0.0,0.0,0,1.0,2.0,2.0,0,0.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3676029 entries, 0 to 3676028
Data columns (total 45 columns):
 #   Column         Dtype
---  ------         -----
 0   dob_mm         int64
 1   mrace6         int64
 2   mhisp_r        int64
 3   frace6         int64
 4   fhisp_r        int64
 5   rf_phype       object
 6   rf_ghype       object
 7   rf_ehype       object
 8   dplural        int64
 9   setorder_r     int64
 10  ghyptot        float64
 11  rf_phype_num   float64
 12  rf_pdiab_num   float64
 13  livenullipara  float64
 14  totnullipara   float64
 15  interval       float64
 16  bmi30          float64
 17  age35          int64
 18  priorPTB       float64
 19  ivf            float64
 20  multifetal     int64
 21  foreignborn    float64
 22  foreignres     int64
 23  seqnum_live    int64
 24  married        float64
 25  nopaternity    float64
 26  mother_educ    float64
 27  pat_age35      float64
 28  father_educ    float64
 29  month_pn       float64
 30  nb_pn          float64
 31  cig0           float64
 32  cig1           float64
 33  cig2           float64
 34  cig3           float64
 35  gwg            float64
 36  gdm            float64
 37  infection      float64
 38  low_income     float64
 39  africamer      int64
 40  father_race    float64
 41  gestation37    float64
 42  gestation34    float64
 43  stillbirth     int64
 44  priorsb        float64
dtypes: float64(29), int64(13), object(3)
memory usage: 1.2+ GB

In [ ]:
print(df['livenullipara'].value_counts())

In [ ]:
df['livenullipara']=df_A.livenullipara.replace(np.nan, 9)

In [ ]:
print(df['livenullipara'].value_counts())

In [ ]:
df['livenullipara']=df['livenullipara'].astype(int)

In [ ]:
print(df['livenullipara'].value_counts())

In [ ]:
print(df['totnullipara'].value_counts())

In [ ]:
df['totnullipara']=df.totnullipara.replace(np.nan, 9)

In [ ]:
print(df['totnullipara'].value_counts())

In [ ]:
df['totnullipara']=df['totnullipara'].astype(int)

In [ ]:
print(df['totnullipara'].value_counts())

In [ ]:
print(df['ghyptot'].value_counts())

In [ ]:
df['ghyptot']=df.ghyptot.replace(np.nan, 9)

In [ ]:
print(df['ghyptot'].value_counts())

In [ ]:
df['ghyptot']=df['ghyptot'].astype(int)

In [ ]:
print(df['ghyptot'].value_counts())

In [ ]:
print(df['interval'].value_counts())

In [ ]:
df['interval']=df.interval.replace(np.nan, 9)

In [ ]:
print(df['interval'].value_counts())

In [ ]:
df['interval']=df['interval'].astype(int)

In [ ]:
print(df['interval'].value_counts())

In [ ]:
print(df['bmi30'].value_counts())

In [ ]:
df['bmi30']=df.bmi30.replace(np.nan, 9)

In [ ]:
print(df['bmi30'].value_counts())

In [ ]:
df['bmi30']=df['bmi30'].astype(int)

In [ ]:
print(df['bmi30'].value_counts())

In [ ]:
print(df['priorPTB'].value_counts())

In [ ]:
df['priorPTB']=df.priorPTB.replace(np.nan, 9)

In [ ]:
print(df['priorPTB'].value_counts())

In [ ]:
df['priorPTB']=df['priorPTB'].astype(int)

In [ ]:
print(df['priorPTB'].value_counts())

In [ ]:
print(df['ivf'].value_counts())

In [ ]:
df['ivf']=df.ivf.replace(np.nan, 9)

In [ ]:
print(df['ivf'].value_counts())

In [ ]:
df['ivf']=df['ivf'].astype(int)

In [ ]:
print(df['ivf'].value_counts())

In [ ]:
print(df['foreignborn'].value_counts())

In [ ]:
df['foreignborn']=df.foreignborn.replace(np.nan, 9)

In [ ]:
print(df['foreignborn'].value_counts())

In [ ]:
df['foreignborn']=df['foreignborn'].astype(int)

In [ ]:
print(df['foreignborn'].value_counts())

In [ ]:
print(df['rf_phype_num'].value_counts())

In [ ]:
print(df['rf_phype_num'].value_counts())
df['rf_phype_num']=df.rf_phype_num.replace(np.nan, 9)
print(df['rf_phype_num'].value_counts())
df['rf_phype_num']=df['rf_phype_num'].astype(int)
print(df['rf_phype_num'].value_counts())

In [ ]:
print(df['rf_pdiab_num'].value_counts())
df['rf_pdiab_num']=df.rf_pdiab_num.replace(np.nan, 9)
print(df['rf_pdiab_num'].value_counts())
df['rf_pdiab_num']=df['rf_pdiab_num'].astype(int)
print(df['rf_pdiab_num'].value_counts())

In [ ]:
print(df['married'].value_counts())
df['married']=df.married.replace(np.nan, 9)
print(df['married'].value_counts())
df['married']=df['married'].astype(int)
print(df['married'].value_counts())

In [ ]:
print(df['nopaternity'].value_counts())
df['nopaternity']=df.nopaternity.replace(np.nan, 9)
print(df['nopaternity'].value_counts())
df['nopaternity']=df['nopaternity'].astype(int)
print(df['nopaternity'].value_counts())

In [ ]:
print(df['mother_educ'].value_counts())
df['mother_educ']=df.mother_educ.replace(np.nan, 9)
print(df['mother_educ'].value_counts())
df['mother_educ']=df['mother_educ'].astype(int)
print(df['mother_educ'].value_counts())

In [ ]:
print(df['pat_age35'].value_counts())
df['pat_age35']=df.pat_age35.replace(np.nan, 9)
print(df['pat_age35'].value_counts())
df['pat_age35']=df['pat_age35'].astype(int)
print(df['pat_age35'].value_counts())

In [ ]:
print(df['father_educ'].value_counts())
df['father_educ']=df.father_educ.replace(np.nan, 9)
print(df['father_educ'].value_counts())
df['father_educ']=df['father_educ'].astype(int)
print(df['father_educ'].value_counts())

In [ ]:
print(df['month_pn'].value_counts())
df['month_pn']=_df.month_pn.replace(np.nan, 9)
print(df['month_pn'].value_counts())
df['month_pn']=df['month_pn'].astype(int)
print(df['month_pn'].value_counts())

In [ ]:
print(df['cig0'].value_counts())
df['cig0']=df.cig0.replace(np.nan, 9)
print(df['cig0'].value_counts())
df['cig0']=df['cig0'].astype(int)
print(df['cig0'].value_counts())

In [ ]:
print(df['cig1'].value_counts())
df['cig1']=df.cig1.replace(np.nan, 9)
print(df['cig1'].value_counts())
df['cig1']=df['cig1'].astype(int)
print(df['cig1'].value_counts())

In [ ]:
print(df['cig2'].value_counts())
df['cig2']=df.cig2.replace(np.nan, 9)
print(df['cig2'].value_counts())
df['cig2']=df['cig2'].astype(int)
print(df['cig2'].value_counts())

In [ ]:
print(df['cig3'].value_counts())
df['cig3']=df.cig3.replace(np.nan, 9)
print(df['cig3'].value_counts())
df['cig3']=df['cig3'].astype(int)
print(df['cig3'].value_counts())

In [ ]:
print(df['gwg'].value_counts())
df['gwg']=df.gwg.replace(np.nan, 9)
print(df['gwg'].value_counts())
df['gwg']=df['gwg'].astype(int)
print(df['gwg'].value_counts())

In [ ]:
print(df['gdm'].value_counts())
df['gdm']=df.gdm.replace(np.nan, 9)
print(df['gdm'].value_counts())
df['gdm']=df['gdm'].astype(int)
print(df['gdm'].value_counts())

In [ ]:
print(df['infection'].value_counts())
df['infection']=df.infection.replace(np.nan, 9)
print(df['infection'].value_counts())
df['infection']=df['infection'].astype(int)
print(df['infection'].value_counts())

In [ ]:
print(df['low_income'].value_counts())
df['low_income']=df.low_income.replace(np.nan, 9)
print(df['low_income'].value_counts())
df['low_income']=df['low_income'].astype(int)
print(df['low_income'].value_counts())

In [ ]:
print(df['father_race'].value_counts())
df['father_race']=df.father_race.replace(np.nan, 9)
print(df['father_race'].value_counts())
df['father_race']=df['father_race'].astype(int)
print(df['father_race'].value_counts())

In [ ]:
print(df['gestation37'].value_counts())
df['gestation37']=df.gestation37.replace(np.nan, 9)
print(df['gestation37'].value_counts())
df['gestation37']=df['gestation37'].astype(int)
print(df['gestation37'].value_counts())

In [ ]:
print(df['gestation34'].value_counts())
df['gestation34']=df.gestation34.replace(np.nan, 9)
print(df['gestation34'].value_counts())
df['gestation34']=df['gestation34'].astype(int)
print(df['gestation34'].value_counts())

In [ ]:
print(df['priorsb'].value_counts())
df['priorsb']=df.priorsb.replace(np.nan, 9)
print(df['priorsb'].value_counts())
df['priorsb']=df['priorsb'].astype(int)
print(df['priorsb'].value_counts())

In [ ]:
print(df['nb_pn'].value_counts())
df['nb_pn']=df.nb_pn.replace(np.nan, 99)
print(df['nb_pn'].value_counts())
df['nb_pn']=df['nb_pn'].astype(int)
print(df['nb_pn'].value_counts())